apiVersion: v1
kind: ConfigMap
metadata:
  name: api-b-code
  namespace: demo
data:
  main.py: |
    from fastapi import FastAPI
    import socket, time
    app = FastAPI()
    @app.get("/")
    def root():
        return {"service":"api-b","host":socket.gethostname()}
    @app.get("/health")
    def health():
        return {"ok": True}
    @app.get("/calc")
    def calc(x: int = 1, y: int = 2):
        time.sleep(0.05)
        return {"service":"api-b","sum": x+y}
