apiVersion: v1
kind: ConfigMap
metadata:
  name: api-a-code
  namespace: demo
data:
  main.py: |
    from fastapi import FastAPI
    import socket, time
    app = FastAPI()
    @app.get("/")
    def root():
        return {"service":"api-a","host":socket.gethostname()}
    @app.get("/health")
    def health():
        return {"ok": True}
    @app.get("/work")
    def work():
        t=time.time()+0.1
        while time.time()<t: pass
        return {"service":"api-a","work":"done"}
